.App {
  text-align: center;
}

.table-top {
  border-radius: 2em;
  padding: 2em;
  background-color: #72b373;
  filter: drop-shadow(8px 8px 2px #999);
}

.card-border {
  border: 1px solid black;
  background-color: white;
  border-radius: 0.5em;
  padding: 1em;
}

.uno-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 160px;
  border-radius: 8px;
  padding: 8px;
}

.uno-card .card-text {
  font-size: 96px;
  font-weight: bold;
  color: white;
  text-shadow: black -3px 3px;
}

.uno-card.face-down {
  background-color: black;
}

.face-down .card-text {
  font-size: 72px;
  text-shadow: unset;
}

.uno-card-reverse .card-text {
  transform: rotate(-45deg);
  font-size: 48px;
}

.uno-card-skip .card-text {
  transform: rotate(-45deg);
  font-size: 64px;
}

.uno-card-red {
  background-color: red;
}

.uno-card-blue {
  background-color: blue;
}

.uno-card-green {
  background-color: green;
}

.uno-card-yellow {
  background-color: #f0ec26;
}

.uno-card.face-down .card-text {
  color: yellow;
  transform: rotate(-20deg);
}
